<div class="container">
  <div class="select-user">
    <p class="select-user-title">Select User:</p>
    <ul class="user-list">
      <li class="user-item">
        <img class="user-image" src="assets/images/waiter.png" alt="waiter" />
        <!-- <span>Waiter</span> -->
      </li>
      <li class="user-item">
        <img class="user-image" src="assets/images/manager.png" alt="manager" />
        <!-- <span>Manager</span> -->
      </li>
      <li class="user-item">
        <img class="user-image" src="assets/images/admin.png" alt="admin" />
        <!-- <span>Admin</span> -->
      </li>
    </ul>
  </div>
</div>
