<div class="container">
  <div class="select-user">
    <p class="select-user-title">Select User:</p>
    <ul class="user-list">
      <li
        class="user-item"
        [class.selected]="selectedUser === 'waiter'"
        (click)="onUserSelect('waiter')"
      >
        <img class="user-image" src="assets/images/waiter.png" alt="waiter" />
        <!-- <span>Waiter</span> -->
      </li>
      <li
        class="user-item"
        [class.selected]="selectedUser === 'manager'"
        (click)="onUserSelect('manager')"
      >
        <img class="user-image" src="assets/images/manager.png" alt="manager" />
        <!-- <span>Manager</span> -->
      </li>
      <li
        class="user-item"
        [class.selected]="selectedUser === 'admin'"
        (click)="onUserSelect('admin')"
      >
        <img class="user-image" src="assets/images/admin.png" alt="admin" />
        <!-- <span>Admin</span> -->
      </li>
    </ul>
  </div>
  <div class="enter-pin">
    <p class="enter-pin-title">Enter PIN:</p>
    <div class="pin-display">
      <div class="pin-dots">
        <span class="dot" [class.filled]="dots[0]"></span>
        <span class="dot" [class.filled]="dots[1]"></span>
        <span class="dot" [class.filled]="dots[2]"></span>
        <span class="dot" [class.filled]="dots[3]"></span>
      </div>
    </div>
    <div class="error-container" *ngIf="errorMessage">
      <p class="error-message">{{ errorMessage }}</p>
    </div>
    <div class="pin-pad">
      <button class="pin-button" (click)="onPinButtonClick('1')">1</button>
      <button class="pin-button" (click)="onPinButtonClick('2')">2</button>
      <button class="pin-button" (click)="onPinButtonClick('3')">3</button>
      <button class="pin-button" (click)="onPinButtonClick('4')">4</button>
      <button class="pin-button" (click)="onPinButtonClick('5')">5</button>
      <button class="pin-button" (click)="onPinButtonClick('6')">6</button>
      <button class="pin-button" (click)="onPinButtonClick('7')">7</button>
      <button class="pin-button" (click)="onPinButtonClick('8')">8</button>
      <button class="pin-button" (click)="onPinButtonClick('9')">9</button>
      <button class="pin-button clear-button" (click)="clearPin()">
        <img src="assets/icons/undo.svg" alt="undo" />
      </button>
      <button class="pin-button zero-button" (click)="onPinButtonClick('0')">
        0
      </button>
    </div>
  </div>
</div>
